ADMIN_PASSWORD=dzha-zb34-7hk9
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_TO=contact@animaction33.fr
EMAIL_FROM=noreply@animaction33.fr
NEXT_PUBLIC_SITE_URL=https://animaction33.netlify.app
NEXT_PUBLIC_GOOGLE_REVIEW_LINK=https://g.page/r/animaction33/review
NEXT_PUBLIC_WA_NUMBER=33677243675
